.buttonDiv{
    overflow-y: scroll;
    height:632px;
    width: 369px;
    background-color: rgb(53, 50, 49);
    padding-right: 20px;
    padding-left:20px;
}

.h1Regions{
    font-family: sans-serif;
    color:  rgba(255, 255, 255, 0.8);
    background-color: rgb(91, 133, 102);

}

.h1Regions:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(91, 133, 102);
}

.headerBtn{
    font-size: x-large;
    background: rgb(129, 207, 255);
}

.headerBtn:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(129, 207, 255);
}

/*
a{
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
}
*/