.atlasEntryContainer{
    flex: 1;
    padding-bottom: 10px;
}

.atlasVisual{
    float: left;
}


.h1Regions{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    background-color: #7ca877;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
}

.activeh1Regions{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    background-color:bisque;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
}

.h2Regions{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    background-color: rgb(219, 142, 114);
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
   
}

.activeh2Regions{
    font-family: sans-serif;
    font-weight:bold;
    text-decoration: none;
    background-color:bisque;
    border: 2px solid transparent;
    border-radius: 30px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .atlasVisual{
        font-size: clamp(0.55rem, 1.5vw, 1rem);
    }
}
