.h1Regions{
    font-family: sans-serif;
    color:  rgba(255, 255, 255, 0.8);
    background-color: rgb(91, 133, 102);
    border-radius: 5px;
}

.h1Regions:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(91, 133, 102);
}