.glow-button{
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    background: darkorange;
    border-radius: 10px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 230px;
    height: fit-content;
    padding: 12px;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(222, 184, 135);
  }

  .Buttons{
    padding-top: 15px;
  }