
.glow-button{
  margin-right: 20px;
  margin-bottom: 15px;
  background: #ffcc74;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  transition: .4s;
    text-align: center;
    font-family: sans-serif;
    width:230px;
    height: 100%;
     
  }
  
  .glow-button:hover {
    transform: scale(1.03);
    background: #161922;
    border: 2px solid #ffcc74;
    border-radius: 30px;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
  }

  .Buttons{
    padding-top:10px;
  }

  
