label{
    color: whitesmoke;
    font-size: x-large;
}
.selectOption{
    font-size: x-large;
}
.errorMess{
    color: rgb(241, 88, 74)
}
.textBoxLabel{
    background-color: #161922;
}
.descriptionArea{
    margin: 0 auto;
    width: 90%;
}
.labelArea{
    margin: 0 auto;
    width: 90%;
}
