.inputDiv{
    background-color:  rgb(53, 50, 49);
    height:800px;
}

label{
    color: whitesmoke;
    font-size: x-large;
}
.selectOption{
    font-size: x-large;
}
.errorMess{
    color: rgb(241, 88, 74)
}
.textBox{
    background-color: rgb(53, 50, 49);
    

}
