/*
input,button{
    appearance: none;
    background:none;
    border:none;
    outline:none;
}

form{
    display:block;
    position:relative;
}
form:after{
    content:'';
    display:block;
    position: absolute;
    top:-5px;
    left:-5px;
    right:-5px;
    bottom:-5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, yellow, pink);
}

form .form-inner{
    position:relative;
    display:block;
    background-color: white;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2{
    font-size: 28px;
    font-weight:500;
    margin-bottom: 30px;
}
form .form-inner h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
form .form-inner .form-group{
    display:block;
    width:300px;
    margin-bottom:15px;
}
form-inner .form-group label{
    display:block;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label{
    color: pink;
}

.form .form-inner .form-group input{
    display:block;
    width:100%;
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    transition: 0.4s;
}
form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
form .form-inner input[type ="submit"]{
    display:inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, yellow,yellow, pink);
    background-size:200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;

}
form .form-inner input[type ="submit"]:hover{
    background-position: 100% 0%;
}

*/
