.mapControl{
    background-color: #161922;
    height:120px;
    width:100%;
    display:flex;
}

.centerButton,.zoomOutButton,.zoomInButton{
    background: #95cdf0;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    transition: .4s;
      text-align: center;
      font-family: sans-serif;
        width: 90px;
        height: 70px;
}
.centerButton:hover,.zoomOutButton:hover,.zoomInButton:hover{
    transform: scale(1.03);
    background: #161922;
    border: 2px solid #95cdf0;
    border-radius: 30px;
    color: #95cdf0;
    transition: .4s;
    cursor: pointer;
}
.leftBtn{
    padding-left:15px;
    padding-top: 20px;
}
