body{
  
}
.MapDisplayBody{
    width: 100%;
    height: 100vh;
    background-color: #161922;
    z-index: 0;
}

.mainDiv{
    display:flex;
    height:100%;
    background-color:  #161922;
    padding-top:1rem;
}
.displayImages{
   
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
}
.description-body{
    max-width:300px;
}
.description-body-p{
    min-width: 300px;
}

