.MapDisplayBody{
    height: 100%;
    background-color: #161922;
    z-index: 0;
}
.mapDisplaySearch{
    height:100%;
}

.mainDiv{
    display:flex;
    background-color:  #161922;
    margin-top: 4rem;
    height:100vh;
}
.displayImages{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
}
.description-body{
    max-width:300px;
}
.description-body-p{
    min-width: 300px;
}

