.MapDisplayBody{
    height: 100%;
    background-color: #161922;
    z-index: 0;
}
.map-container{
    height: calc(100vh - 64px) !important;
    width: calc(100vw - 685px) !important;
    z-index: 0;
}
.content-div{
    width: auto;
    height: auto;
}

.mainDiv{
    display:flex;
    flex-wrap: wrap;
    background-color:  #161922;
    margin-top: 4rem;
}




@media screen and (max-width: 1200px) {
    .mapDisplay {
        order: -1 !important;
    }
    .map-container{
        width: 100vw !important;
        height: calc(100vh - 364px) !important;
        margin-bottom: 10px;
    }
    .atlasButtons{
        display: none;
    }
    .MapDisplaySearch{
        width: 100vw !important;
    }
    .atlasBody{
        width: 50vw !important;
    }
}

