.updateDiv{
   display:block;
   background-color: rgb(53, 50, 49);
   height: 100%;
}

.flex-row{
    display:flex;
}

.descriptionUpdate{
    display:flex;
    background-color: rgb(53, 50, 49);
}
.selectComponent{
    background-color: rgb(53, 50, 49);
}
