.leftSearch{
    font-family: Arial, Helvetica, sans-serif;
}
.leftSearch input{
    width:230px;
    height: 40px;
    font-size: 20px;
 
}
.reactButton{
    width: 230px;
    background-color: rgb(242,255,152)
}


